body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}


.palette {
  display:flex;
}

h1 {
  height:10vh;
  margin: 0;
  /* background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
  border-bottom:10px solid navy;
  text-align: center;
  font-family: fantasy;
  line-height: 8vh;
  color: #111;
}

.couleur {
  width: 20%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa {
  position: relative;
 display: inline-block;
  text-align: center;
  margin:1em;
  color:blue;
  font-size: 2em;
  cursor: pointer;

}

.copy {
  overflow: hidden;
  position: absolute;
  width: 120px;
  text-align: center;
  visibility: hidden;
  color:#eee;
  background-color: rgba(0, 0, 0, 0.7);
  padding: .2em;
  border-radius: 5%;
  font-size: .6em;
  top:100%;
  left:-60px;
}

.fa:hover .copy {
  visibility: visible;
}

.invisible  {
  display: none;
}
